<%# Landing Navbar. Starting with just right side sign up functinality %>

<div class="nav-container">
  <div class="nav-right">
    <p><%= link_to "log in", new_user_registration_path, class:"gen-link" %></p>
  </div>
</div>
