body {
  background-color: $background;
}
.content {
  animation: contentDelay 2s linear forwards;
}
// navbar
.camera-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  transition: .3s;
  .letter {
    color: $magic-mint;
    display: inline-block;
    transition: .3s;
  }
  p {
    color: $magic-mint;
  }
  a {
    color: $magic-mint;
    text-decoration: none;
    font-size: 48px;
    font-family: $satoshi;
    &:hover {
      transition: .3s;
      .letter {
        color: $blue-green;
        transition: .3s;
      }
      .letter:nth-child(2) {
        transition: .3s;
        transform: translateY(30px);
      }
      .letter:nth-child(3) {
        transition: .3s;
        transition-delay: .3s;
        transform: translate(-12px);
      }
    }
  }
}
.camera-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90vh;
  padding-bottom: 50px;
  .camera-content {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 64px;
      color: $magic-mint;
      font-weight: 300;
    }
    p {
      font-size: 64px;
      color: $magic-mint;
      font-weight: 300;
      margin-left: 20px;
    }
    a {
      text-decoration: none;
      color: $magic-mint;
    }
  }
}
// second column with the camera selection
.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // overflow: scroll;
  border-left: 2px solid $magic-mint;
  border-right: 2px solid $magic-mint;
  .camera-list {
    height: 400px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .camera-item {
    transition: .3s;
    color: $magic-mint;
    font-size: 56px;
    text-align: center;
    width: 100%;
    &:hover {
      cursor: pointer;
      color: $background;
      background-color: $blue-green;
      a {
        color: $background;
      }
    }
    a {
      color: $magic-mint;
      text-decoration: none;
    }

  }
  .camera-item.active {
    color: $background;
    transition: .3s all;
    letter-spacing: 1.2px;
    border-bottom: 2px solid $magic-mint;
    border-top: 2px solid $magic-mint;
    background-color: $blue-green;
    // box-shadow: inset -220px 0 5px 5px $background;
    a {
      color: $background;
    }
  }
}


@keyframes contentDelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
