// Specific CSS for your home-page

// main container for landing with the background color set
.home {
  background-color: $background;
  height: 100vh;
}
// This is laid out to create the separate columns for the different sections
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr .2fr;
  gap: 20px;
  max-width: 1250px;
  margin: 0 auto;
  padding: 40px 0px;
  height: 100%;
}
// Container that holds the image
.left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid $magic-mint;
  .img {
    background-image: url("https://images.unsplash.com/photo-1671548125660-2f4ead659ef6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    height: 85%;
    width: 85%;
    animation: fadeIn .5s linear forwards;
  }
}
// Container with the title and sample content
.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 0px 0px 60px;
  h1 {
    font-size: 100px;
    color: $magic-mint;
    font-weight: 350;
  }
  h3 {
    padding-top: 10px;
    padding-left: 5px;
    color: $blue-green;
    font-size: 18px;
    font-weight: 200;
  }

  // This is the section with fake image shutter and shit
  // the css before the hover element hide the get started button
  .example-content {
    position: relative;
    color: $magic-mint;
    display: grid;
    grid-template-columns: .5fr 1fr;
    padding-bottom: 15%;
    transition: .3s;
    .button {
      position: absolute;
      top: 50px;
      left: 40px;
      opacity: 0;
      transition: .4s;
      a {
        font-size: 28px;
        text-decoration: none;
        color: $magic-mint;
      }
    }
    .right-side {
      margin-left: 25px;
      transition: .3s;
    }
    .left-side {
      transition: .3s;
    }
    // this brings up the "get started" button so that the user can press it to go to their account page
    &:hover {
      .left-side {
        opacity: .3;
        transition: .3s;
      }
      .right-side {
        opacity: .3;
        transition: .3s;
      }
      .button {
        transition: .4s;
        display: block;
        position: absolute;
        top: 30px;
        left: 40px;
        opacity: 1;
        z-index: 100;
        font-size: 28px;
        a {
          transition: .4s;
          color: $magic-mint;
          text-decoration: none;
          &:hover {
            color: $blue-green;
          }
        }
      }
    }
  }

}
// Navbar sidebar container
.right-content {
  display: flex;
  justify-content: flex-end;
  .navbar-column {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
}
// This is the actual navbar itself
.navbar-c {
  text-decoration: none;
  color: $magic-mint;
  font-size: 18px;
  transition: .3s all;

  &:hover {
    color: $blue-green;
    transition: .3s all;
  }
}

// fade effect for the image on the homepage
@keyframes fadeIn {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}
