// Specific CSS for your home-page
body {
  font-family: $satoshi;
}
.main {
  position: relative;
  background-color: $background;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.hero-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: flex-end;
  color: $light-font;
  padding-top: 40px;
  padding-right: 27%;
  h1 {
    font-size: 64px;
    font-weight: 400;
    font-family: $chillax;
  }
}

// temporary image gap to get idea of page layout
.image {
  background-image: url("https://images.unsplash.com/photo-1671512011837-1d3a11886173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 0px 0px 5px 5px $background;
}
// welcome message if the user is signed in
.welcome {
  position: absolute;
  bottom: 150px;
  left: 40%;
}

// user action area
.user-action {
  display: flex;
  justify-content: center;
  color: $light-font;
  padding-bottom: 20px;
}

// -----How it works section-----
.container-2 {
  margin: 0 auto;
  max-width: 1100px;
  background-color: $light-gray;
  height: 79vh;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
  // align-items: center;
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}
