// Import page-specific CSS files here.
@import "home";
@import "camera_index";

// General Link like what is used for the log in button on homepage
.gen-link {
  color: $light-font;
  text-decoration: none;
  transition: .3s;
  &:hover {
    color: $blue-green;
    transition: .3s;
  }
}
