
// scss for the film rolls for each specific camera
// Top Section
.film-header-container {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  // background-color: $blue-green;
  // box-shadow: inset 0px -10px 0px black;
  h1 {
    color: $magic-mint;
    font-weight: 400;
    font-size: 64px;
  }
}

.rolls-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // overflow-x: scroll;
  max-width: 95%;
  margin: 0 auto;
  height: 100px;
  border-top: 2px solid $magic-mint;
  border-bottom: 2px solid $magic-mint;
  // box-shadow: 0px 5px 0px 0px rgb(19, 19, 19), 0px -5px 0px 0px rgb(19, 19, 19);
  .roll-list {
    width: 100%;
    // position: relative;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 100%;
    display: flex;
    p {
      margin: 0px ;
    }
    a {
      text-decoration: none;
      color: $magic-mint;
    }
  }
  .roll-item {
    // width: 100%;
    position: relative;
    font-size: 36px;
    color: $magic-mint;
    gap: 10px;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
    transition: .3s;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $background;
      background-color: $blue-green;

    }
    a {
      color: $magic-mint;
      text-decoration: none;
      font-weight: 300;
    }

    .delete-button-camera {
      display: none;
      font-size: 14px;
    }
    .edit-button-camera {
      display: none;
      font-size: 14px;
    }
  }

  .roll-item.active {
    color: $background;
    transition: .3s all;
    letter-spacing: 1.2px;
    // border-bottom: 3px solid $magic-mint;
    // border-top: 3px solid $magic-mint;
    border-left: 3px solid $magic-mint;
    border-right: 3px solid $magic-mint;
    background-color: $blue-green;
    box-shadow: inset 0px 0px 2px 2px $background;
    a {
      color: $background;
    }

    .edit-button-camera {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 16px;
      transform: rotate(0deg);
      padding: 0px 10px;
      transition: .3s;

      &:hover {
        transition: .3s;
        color: $magic-mint;
        transform: scale(1.2);
      }
    }
    .delete-button-camera {
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 14px;
      transform: rotate(0deg);
      padding: 0px 10px;
      transition: .3s;
      &:hover {
        transition: .3s;
        color: $magic-mint;
        transform: scale(1.2);

      }
    }
  }
}

// Roll Content Area

.rolls-content-container {
  max-width: 95%;
  margin: 0 auto;
}
.main-roll-container {
  margin-top: 5%;
  h3 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    color: $blue-green;
    font-weight: 250;
  }
}
.frame-grid-template {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 25px;
}
.frame {
  position: relative;
  // border-right: 1px solid $magic-mint;
  border-bottom: 1px solid $magic-mint;
  margin-bottom: 5px;
} p {
  margin-left: 10px;
}
.new-frame {
  border: 1px solid $magic-mint;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .frame-button {
    color: $blue-green;
    text-decoration: none;
    transition: .3s;
    font-size: 22px;
    &:hover {
      color: $magic-mint;
      transition: .3s;
    }
  }
}
// index number
.index-num {
  color: $magic-mint;
  font-size: 24px;
  position: absolute;
  top: 10px;
  text-shadow: 2px 2px 2px $blue-green;
}
.delete-button-frame {
  display: block;
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 14px;
  transform: rotate(0deg);
  padding: 0px 10px;
  transition: .3s;
  text-decoration: none;
}
// Image thumnail
.frame-image {
  height: auto;
  width: 450px;
  margin-bottom: 10px;
}
// details area on photo
.image-detail-container {
  .details-container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    p {
      color: $blue-green;
    }
  }
}
// description
.description {
  margin-top: 5px;
  color: $blue-green;
  overflow-y: auto;
  max-height: 80px;
  min-height: 80px;
}
.save {
  #save-btn {
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    color: $magic-mint;
    text-transform: uppercase;
    &:active {
      color: $blue-green;
      transition: .3s;
    }
    &:hover {
      color: $blue-green;
      transition: .3s;
    }
  }
}
// TOAST POPUP ELEMENT


.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
}
.show {
  display: block;

  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: $background;
  color: $magic-mint;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease-out;
  h3 {
    margin: 5px;
    padding: 0px;
  }
}

// Media Queries
// Small Mobile -------------------
@media only screen and (min-width: 200px) and (max-width: 400px) {
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    // margin: 20px 30px;
    .back-button {
      transition: .3s;
      color: $magic-mint;
      text-decoration: none;
      font-size: 10px;
      &:hover {
        transition: .3s;
        color: $blue-green;
      }
    }
  }
  .film-header-container {
    h1 {
      font-size: 42px;
    }
  }
  .rolls-container {
    max-width: 90%;
    .roll-item {
      overflow-x: scroll;
      height: 100px;
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: $blue-green;
      }
    }
    .roll-item.active {
      p {
        color: $magic-mint;
      }
    }
    p.active {
      color: $magic-mint;
    }
  }
  .main-roll-container {
    h3 {
      font-size: 32px;
    }
  }
  .frame-grid-template {
    margin: 10px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    .frame {
      .frame-image {
        width: 88vw;
      }
      .delete-button-frame {
        top: 15px;
        right: -3px;
      }
    }
  }
}


// Medium Mobile -------------------
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    // margin: 20px 30px;
    .back-button {
      transition: .3s;
      color: $magic-mint;
      text-decoration: none;
      font-size: 12.5px;
      &:hover {
        transition: .3s;
        color: $blue-green;
      }
    }
  }
  .film-header-container {
    h1 {
      font-size: 50px;
    }
  }
  .rolls-container {
    max-width: 90%;
    .roll-item {
      overflow-x: scroll;
      height: 100px;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: $blue-green;
      }
    }
    .roll-item.active {
      p {
        color: $magic-mint;
      }
    }
    p.active {
      color: $magic-mint;
    }
  }
  .main-roll-container {
    h3 {
      font-size: 32px;
    }
  }
  .frame-grid-template {
    margin: 10px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    .frame {
      .frame-image {
        width: 88vw;
      }
      .delete-button-frame {
        top: 15px;
        right: -3px;
      }
    }
  }
}

// Large Mobile -------------------
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    // margin: 20px 30px;
    .back-button {
      transition: .3s;
      color: $magic-mint;
      text-decoration: none;
      font-size: 15px;
      &:hover {
        transition: .3s;
        color: $blue-green;
      }
    }
  }
  .film-header-container {
    h1 {
      font-size: 60px;
    }
  }
  .rolls-container {
    max-width: 95%;
    .roll-item {
      overflow-x: scroll;
      height: 100px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: $blue-green;
      }
    }
    .roll-item.active {
      p {
        color: $magic-mint;
      }
    }
    p.active {
      color: $magic-mint;
    }
  }
  .main-roll-container {
    h3 {
      font-size: 32px;
    }
  }
  .frame-grid-template {
    margin: 10px 20px 25px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .frame {
      .frame-image {
        width: 45vw;
      }
      .delete-button-frame {
        top: 15px;
        right: -3px;
      }
    }
  }
}
