// scss for the account page
.account-page-container {
  max-width: 1100px;
  margin: 0 auto;
}
.title-container {
  padding-top: 50px;
} h2 {
  font-size: 100px;
  color: $magic-mint;
  font-weight: 350;
}
.content-grid-container {
  display: grid;
  grid-template-columns: .3fr 1fr;
  padding-top: 20px;
 .left-container {
    padding-top: 40px;
    color: $magic-mint;
    height: 70vh;
    border-right: 2px solid $magic-mint;
  }
}
p {
  color: $blue-green;
  // font-size: 18px;
}
.link-button {
  color: $blue-green;
  text-decoration: none;
  &:hover {
    color: $magic-mint;
  }
}
