<%# preloader for the camera page %>

<div class="preloader" data-controller="loader">
  <h1>CAMERAS</h1>
  <div class="line"></div>
  <div class="background"></div>
  <%# <img src="" alt="spinner"> %>
</div>
