<%# back button %>
<div class="back">
  <%= link_to "BACK TO HOME", root_path, class: "back-button" %>
</div>
<div class="account-page-container">
  <div class="title-container">
    <h2>account</h2>
  </div>
  <div class="content-grid-container">
    <div class="left-container">
      <p>settings</p>
      <p><%= link_to "log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "link-button" %></p>
    </div>
    <div class="right-container">
    </div>
  </div>
</div>
