<%# Landing Page %>

<%# navbar %>
<%= render partial: "components/land_nav" %>

<%# hero section %>
<section class="main">
  <div class="container">
    <div class="hero-container">
      <div class="image">
        <div class="header">
          <h1>filmy<span>-</span>j</h1>
        </div>
        <%# <img src="canon_render.jpg" alt=""> %>
      </div>
    </div>
  </div>
  <div class="welcome">
    <% if user_signed_in? %>
      <h2>Welcome, <%= @current_user.first_name.capitalize %></h2>
    <% end %>
  </div>
</section>


<%# How it works section %>
<div class="container-2">
  <div class="title">
    <h2>How it works</h2>
    <p>filmy-j is designed to help you keep track of your exposure settings for your film photographs before they are developed. With this app you can easily record the shutter speed and aperature used for each frame of film, as well as other relevent information such as ISO, filter, lens, and description. This can be especially useful for those who shoot film regularly and want to keep track of their exposures for future reference.
    </p>
  </div>
</div>
