// css for the preloader for the camera index page

// Loading page gif
.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: black;
  background: $background;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  // transform: opacity 1s linear;
  animation: focusInOut 1.2s linear forwards;
  h1 {
    animation: jumpAround 1.2s linear forwards;
    font-family: $satoshi;
    color: $magic-mint;
    font-size: 80px;
    // animation: colorchange .6s linear forwards, vanish .1s linear 1s forwards;
  }
}

// Could add this image in if i wanted and use the focus thing on it as well
// .background {
//   background-image: url(bali-volcano.JPG);
//   background-size: cover;
//   background-position: center;
//   height: 500px;
//   width: 800px;
// }

// out of focus animation
@keyframes focusInOut {
  0% {
    filter: blur(5px);
    transform: scale(1);
  }
  25% {
    filter: blur(4px);
  }
  50% {
    filter: blur(6px);
    transform: scale(1);
  }
  75% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes jumpAround {
  0% {
    transform: translateX(20px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
