.frame-addition-container {
  margin-top: 100px;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h3 {
    text-align: center;
    margin-bottom: 30px;
    color: $magic-mint;
    font-weight: 350;
  }
  .frame-form {
    display: flex;
    flex-direction: column;
    color: $magic-mint;
    .file-field {
      color: $magic-mint;
      height: 50px;
      background-color: transparent;
      &:focus {
        background-color: $blue-green;
        color: $background;
      }
    }
    .form-field {
      color: $magic-mint;
      height: 50px;
      background-color: transparent;
      &:focus {
        background-color: $blue-green;
        color: $background;
      }
    }
    .btn {
      transition: .3s;
      padding-left: 0px;
      margin-top: 10px;
      color: $magic-mint;
      font-size: 18px;
      &:hover {
        transition: .3s;
        color: $blue-green;
      }
    }
  }
}
