//------------ sign-up form ---------------

.form-container {
  max-width: 600px;
  margin: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: $light-font;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
}
.title-form {
  display: flex;
  justify-content: center;
}
.form-input, .form-label, .form-check-label {
  color: $background;
}
.form-control {
  background-color: #afafaf30;
  &:active {
    background-color: $turquioise-ig;
  }
  &:focus {
    background-color: rgb(213, 210, 210);
  }
}
.form-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// log-in option section
.log-in {
  display: flex;
  align-items: center;
  p {
    padding: 0px 10px;
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
}
