//------------ sign-up form ---------------

.form-container {
  max-width: 600px;
  margin: auto;
  height: 100%;   // This 100% allows for the box to resize if needed
  display: flex;
  flex-direction: column;
  // background-color: $light-font;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
}
.title-form {
  display: flex;
  justify-content: center;
  h2 {
    font-size: 52px;
  }
}

.form-input, .form-label, .form-check-label {
  // color: $background;
  color: $magic-mint;
}
.form-control {
  background-color: transparent;
  border-radius: 5px;
  &:active {
    background-color: $blue-green;
  }
  &:focus {
    background-color: rgb(213, 210, 210);
  }
}
.form-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .form-button {
    color: $magic-mint;
    font-size: 24px;
  }
}
// log-in option section
.log-in {
  display: flex;
  align-items: center;
  p {
    padding: 0px 10px;
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
}
