<%# app/views/rolls/_roll.html.erb %>

<%# GOES IN THE ROLLS INDEX.HTML PAGE AND HOLDS THE INDIVIDUAL ROLL INFORMATION %>
<%# This is what the roll of film looks like and will have the ability to upload images and settings for the camera %>
<div class="main-roll-container">
  <div class="photo-row-container">
    <h3>Film Type: <%=  @roll.roll_type.upcase %></h3>
    <div class="frame-grid-template">
      <div class="frame">
        <p>1</p>
      </div>
      <div class="frame">
        <p>2</p>
      </div>
      <div class="frame">
        <p>3</p>
      </div>
    </div>
  </div>
</div>
