<%# app/views/rolls/_roll.html.erb %>

<%# GOES IN THE ROLLS INDEX.HTML PAGE AND HOLDS THE INDIVIDUAL ROLL INFORMATION %>
<%# This is what the roll of film looks like and will have the ability to upload images and settings for the camera %>
<div class="main-roll-container">
  <div class="photo-row-container">
    <h3>Film Type: <%=  @roll.roll_type.upcase %></h3>
    <form action="<%= camera_roll_photos_path(@camera, @roll) %>" method="post">
      <div class="frame-grid-container" data-controller="frame">
        <div class="frame-container">
          <div class="photo">
            <input type="file" accept="image/jpeg, image/png, image/jpg">
            <output></output>
          </div>
        </div>
        <div class="frame-container">
          <div class="photo">
            <input type="file" accept="image/jpeg, image/png, image/jpg">
            <output></output>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
